body{
    background-image: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo{
    background: #c43413;   
}

#menu ul li a:hover{
    background: #c43413;
    transition: all 850ms;
    color: white;
}

.button-more{
    background: #c43413;
}
